#Because it generates a lot of garbage in the config directory
__pycache__
********.save*
Atom
bleachbit
chromium
calibre
Code*
configstore
Cypress
dconf
enchant
gconf
google-chrome
gtk-*
git
htop
inkscape
kdeglobals
kwaverc
menus
mimeapps.list
mps-youtube
okular*
pavucontrol-qt.conf
procps
pulse
QtProject.conf
spotify
VirtualBox
yarn
