#Because it generates a lot of garbage in the config directory
__pycache__
********.save*
Atom
chromium
calibre
Code*
configstore
dconf
enchant
gconf
google-chrome
gtk-*
inkscape
menus
mps-youtube
okular*
procps
pulse
QtProject.conf
